.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  display: flex;
  flex-direction: column;
}

.Fretboard th {
  background-color: #ccc;
}

table td {
  width: 24px;
}

button.randomize {
  height: 48px;
  width: 200px;
}